// background colors
$dark-background: #091336;
$light-background: #F1F4F9;

// font colors
$font-color: #122945;
$font-color-white: #fff;

// colors
$blue-color: #002CFB;
$blue-color-hover: #0024CB;
$blue-color-active: #274BC8;
$yellow-color: #FFD500;
